html {
	height: auto;
}

body {
	text-align: center;
	background-color: #eee;
	height: auto;
}

h1 {
	text-align: center;
	color: white;
}

h2 {
	text-align: left;
	color: white;
}

h3 {
	text-align: center;
	color: white;
	padding-bottom: 0;
}

p {
	text-align: center;
	color: white;
}

.toggle{
	display: none;
}

.container{
	position: absolute;
	left: 18em;
	right: 0;
	top: 0;
	text-align: center;
	margin: 0;
	height: fit-content;
	min-height: 100%;
}

.main {
	padding: 1em 0;
	max-width: 75em;
	min-height: 95vh;
	margin: 0 auto auto;
	background: #6d6d6d;
}

.top {
	width: 18em;
	background: #6d6d6d;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 3;
	overflow-x: visible;
	overflow-y: auto;
}

.top img {
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}

.top ul {
	padding: 0;
	margin: 0;
}

.top ul ul{
	display: none;
}

.top li{
	font-size: 1.5em;
}

.top li ul li{
	font-size: 1em;
}

.top::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.login{
	background-color: #424242;
}


input[type=text]{
	margin: 0.5em 0;
	padding: 0.5em 0;
	background-color: #eee;
	border: #1b1b1b solid 2px;
	color: black;
}

input[type=password]{
	margin: 0.5em 0;
	padding: 0.5em 0;
	background-color: #eee;
	border: #1b1b1b solid 2px;
	color: black;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #eee inset;
	color: black;
}

.settings {
	margin: auto;
}

.headerTab {
	background-color: #424242;
	padding-left: 0;
	margin-left: 0;
	display: block;
	width: 100%;
	float: left;
	box-sizing: border-box;
	position: relative;
}

.headerTab:hover{
	background-color: #1b1b1b;
}

.headerTab p{
	width: auto;
	display: inline-block;
}

.headerTab img{
	width: 1em;
	height: auto;
	position: absolute;
	left: calc(100% - 1.5em);
	top: calc(50% - 0.5em);
}

.topTab {
	background-color: #424242;
	padding: 0 1em;
	display: inline;
	float: left;
	box-sizing: border-box;
	text-align: left;
}

.topTab:hover{
	background-color: #1b1b1b;
}

.headerTabSmall {
	background-color: #424242;
	display: block;
	width: 80%;
	margin-left: 0;
	float: left;
	box-sizing: border-box;
}

.headerTabSmall:hover{
	background-color: #1b1b1b;
}

.header{
	width: 100%;
	display: inline;
	align-items: center;
	bottom: 0;
	left: 18em;
	position: sticky;
	background: #424242;
	z-index: 2;
	line-height: 3em;
	float: left;
}

.header ul{
	float: left;
	margin: 0;
	display: inline;
	padding: 0;
	width: 100%;
}

.header ul li{
	margin: 0;
	text-align: center;
	color: white;
}

.header ul li p{
	display: inline;
	font-size: 1.5em;
}

.header img{
	display: inline;
	width: auto;
	height: 1.5em;
	padding-left: 2px;
	padding-right: 2px;
}

.resourceTabUp{
	position: absolute;
	padding: 0.5em;
	bottom: 100%;
	background-color: #1b1b1b;
	z-index: 4;
	display: none;
}

.resourceTabDown{
	position: absolute;
	padding: 0.5em;
	top: 100%;
	background-color: #1b1b1b;
	z-index: 4;
	display: none;
}

#policy {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
	text-align: left;
}

#policy td, #policy th {
	padding: 8px;
}

#policy tr:nth-child(even) {
	background-color: rgb(50, 50, 50);
	color: white;
}

#policy tr:nth-child(odd) {
	background-color: rgb(60, 60, 60);
	color: white;
}

#policy tr:hover {
	background-color: rgb(35, 35, 35);
}

#policy caption {
	padding: 8px;
	background-color: rgb(50, 50, 50);
	color: white;
}

#policy caption:hover {
	background-color: rgb(35, 35, 35);
}

#policy img {
	float: left;
}

#policy input[type=text]{
	width: 40em;
}

#policy .imgSmall{
	max-width: 2em;
	max-height: 1em;
	margin-right: 1em;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: underline;
}

a:active {
	color: white;
	text-decoration: none;
}

button {
	background-color: #1b1b1b;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

button:hover {
	background-color: #424242;
}

button:disabled, button[disabled] {
	background-color: #1b1b1b;
	color: rgb(42, 42, 42);
	cursor: initial;
}

#resources {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	border-top: 2px solid rgb(21, 21, 21);
	border-bottom: 2px solid rgb(21, 21, 21);
}

#resources td, #resources th {
	background-color: transparent;
	border: transparent;
	color: white;
}

.left {
	text-align: left;
	margin-top: 4%;
	margin-bottom: 4%;
}

p.positive {
	all: initial;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: rgb(0, 255, 0);
	text-align: left;
}

p.negative {
	all: initial;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: rgb(255, 0, 0);
	text-align: left;
}

p.neutral {
	all: initial;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	text-align: left;
}

.right {
	text-align: right;
}

.resourceDropDown {
	position: relative;
	display: inline-block;
	text-align: right;
	width: 100%;
}

.resourceDropDown-span {
	position: inherit;
	display: inherit;
	text-align: inherit;
	width: inherit;
	z-index: 1;
}

.resourceDropDown-content {
	text-align: right;
	display: none;
	position: absolute;
	padding-left: 2px;
	padding-right: 2px;
	height: 100%;
	left: -100%;
	width: 200%;
	z-index: 2;
}

.resourceDropDown-span:hover + .resourceDropDown-content {
	display: block;
}

#news {
	width: 100%;
}

#news td {
	width: 50%;
}

.world {
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	background-color: rgb(7, 7, 7);
	border: 2px solid rgb(21, 21, 21);
}

.world:hover {
	background-color: rgb(14, 14, 14);
}

.alliance {
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	background-color: rgb(7, 7, 7);
	border: 2px solid rgb(21, 21, 21);
}

.alliance:hover {
	background-color: rgb(14, 14, 14);
}

.policyImage {
	width: 256px;
}

.news {
	position: fixed;
	display: none;
	left: 20%;
	top: 0;
	height: 100%;
	width: 25%;
	max-width: 500px;
	background-color: black;
	z-index: 10;
}

.resultsContainer {
	display: none;
	position: sticky;
	left: 0;
	top: 0;
	background-color: rgb(35, 35, 35);
	width: 100%;
	z-index: 10;
}

#result {
	margin: auto;
	height: auto;
	width: 75%;
}

#result p{
	padding: 1em 0;
	margin: 0;
}

select {
	outline: none;
	width: 100%;
	background-color: rgb(21, 21, 21);
	border: 1px solid rgb(21, 21, 21);
	text-align: center;
	text-align-last: center;
	color: white;
	border-radius: 5px;
}

select:hover {
	outline: none;
	background-color: #1b1b1b;
	border: 1px solid rgb(21, 21, 21);
}

select:disabled {
	outline: none;
	width: 100%;
	background-color: rgb(7, 7, 7);
	border: 1px solid rgb(21, 21, 21);
	text-align: center;
	text-align-last: center;
	color: rgb(155, 155, 155);
}

select option {
	outline: none;
	color: white;
	background-color: #1b1b1b;
	border: 1px solid rgb(21, 21, 21);
}

.optionDesc {
	color: white;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

ul {
	list-style: none;
}

#city ul{
	padding-left: 0;
}

.cityElements {
	text-align: center;
	display: inline-block;
	border: black 3px solid;
	margin: 0;
	padding: 1em;
	background: #424242;
}

img {
	max-width: 100%;
	height: auto;
}

label{
	color: white;
	font-size: 1.5em;
}

textarea{
	height: 5em;
	margin: 0.5em 0;
	padding: 0.5em 0;
	background-color: #eee;
	border: #424242 solid 2px;
	color: black;
}

#world path{
	fill: #424242;
}

#world path:hover{
	fill: #eee;
}

.categories{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.categories ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #424242;
	margin: 0 0 1em auto;
}

.categories li {
	float: left;
}

.categories li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

.categories li a:hover {
	background-color: #1b1b1b;
}

.magic{
	display: none;
}

@media screen and (max-width: 60em){

	.toggle{
		position: fixed;
		display: block;
		background: #424242;
		top: 0;
		left: 0;
		width: 100%;
		height: 3em;
		z-index: 100;
	}

	.toggleFlag {
		height: 2em;
		padding: 0.5em;
		width: auto;
		float: left;
	}

	.toggleButton {
		width: 3em;
	}

	.top {
		top: 3em;
		display: none;
		margin-top: -3em;
		min-height: 100%;
		width: 100%;
	}

	.top img {
		display: none;
	}

	.top ul {
		padding: 0;
		margin: 0;
	}

	.top li{
		font-size: 1.5em;
	}

	.top ul li img{
		display: block;
	}

	.top li ul li{
		font-size: 1em;
	}

	.top::-webkit-scrollbar {
		width: 0;
		background: transparent;
	}

	.headerTab p{
		width: auto;
		display: inline-block;
	}

	.headerTab img{
		width: 1em;
		height: auto;
		position: absolute;
		left: calc(100% - 1.5em);
		top: calc(50% - 0.5em);
	}

	.container{
		top: 3em;
		left: 0;
		height: fit-content;
		min-height: 100%;
	}

	.main{
	}

	.header{
		margin: 0;
		font-size: 1rem;
		width: 100%;
		left: 0;
	}

	.header ul li p{
		font-size: 1rem;
	}

	.topTab{
		padding: 0 0.5rem;
	}

	.header ul li img{
		height: 1rem;
		width: auto;
	}

	.magic{
		display: block;
		height: 3em;
	}
}