html {
	height: 100%;
}

body {
	height: 100%;
	text-align: center;
	background-color: rgb(14, 14, 14);
}

h1 {
	text-align: center;
	color: white;
}

h2 {
	text-align: left;
	color: white;
}

h3 {
	text-align: center;
	color: white;
	padding-bottom: 0;
}

p {
	text-align: center;
	color: white;
}

.container{
	position: absolute;
	top: 3em;
	left: 15%;
	width: 85%;
	z-index: 1;
	text-align: center;
	margin-bottom: 3em;
}

.main {
	min-height: 100%;
	padding-top: 2em;
	max-width: 75em;
	margin: 0 auto;
}

.top {
	width: 15%;
	background: rgb(75, 75, 75);
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 3;
	overflow-x: visible;
	overflow-y: auto;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.top img {
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}

.top ul {
	padding: 0;
	margin: 0;
}

.top li{
	font-size: 1.5em;
}

.top li ul li{
	font-size: 1em;
}

.top::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.login{
	background-color: rgb(55, 55, 55);
}


input[type=text]{
	margin: 0.5em 0;
	padding: 0.5em 0;
	background-color: gainsboro;
	border: rgb(55, 55, 55) solid 2px;
	color: black;
}

input[type=password]{
	margin: 0.5em 0;
	padding: 0.5em 0;
	background-color: gainsboro;
	border: rgb(55, 55, 55) solid 2px;
	color: black;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px gainsboro inset;
}

.settings {
	margin: auto;
}

.indexflag {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 5em;
	width: 9em;
}

.headerFlag {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	padding-left: 15%;
	float: right;
	text-align: right;
}

.headerTab {
	background-color: rgb(55, 55, 55);
	padding-left: 0;
	margin-left: 0;
	display: block;
	width: 100%;
	float: left;
	box-sizing: border-box;
	position: relative;
}

.headerTab:hover{
	background-color: rgb(33, 33, 33);
}

.headerTab p{
	width: auto;
	display: inline-block;
}

.headerTab img{
	width: 1em;
	height: auto;
	position: absolute;
	left: calc(100% - 1.5em);
	top: calc(50% - 0.5em);
}

.topTab {
	background-color: rgb(55, 55, 55);
	padding: 0 1em;
	display: inline;
	float: left;
	box-sizing: border-box;
	text-align: left;
}

.topTab:hover{
	background-color: rgb(33, 33, 33);
}

.headerTabSmall {
	background-color: rgb(55, 55, 55);
	display: block;
	width: 80%;
	margin-left: 0;
	float: left;
	box-sizing: border-box;
}

.headerTabSmall:hover{
	background-color: rgb(33, 33, 33);
}

.header{
	width: 100%;
	display: inline;
	align-items: center;
	top: 0;
	left: 0;
	position: fixed;
	background: rgb(55, 55, 55);
	vertical-align: center;
	z-index: 2;
	line-height: 3em;
}

.header ul{
	margin: 0;
	float: left;
	padding-left: 15%;
	display: inline;
	width: 100%;
}

.header ul li{
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
	text-align: center;
	color: white;
}

.header ul li p{
	display: inline;
	font-size: 1.5em;
}

.header img{
	display: inline;
	width: auto;
	height: 1.5em;
	padding-left: 2px;
	padding-right: 2px;
}

.resourceTab{
	position: absolute;
	padding: 0.5em;
	top: 100%;
	background-color: rgb(33, 33, 33);
	z-index: 4;
	display: none;
}

#policy {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
	text-align: left;
}

#policy td, #policy th {
	padding: 8px;
}

#policy tr:nth-child(even) {
	background-color: rgb(50, 50, 50);
	color: white;
}

#policy tr:nth-child(odd) {
	background-color: rgb(60, 60, 60);
	color: white;
}

#policy tr:hover {
	background-color: rgb(35, 35, 35);
}

#policy caption {
	padding: 8px;
	background-color: rgb(50, 50, 50);
	color: white;
}

#policy caption:hover {
	background-color: rgb(35, 35, 35);
}

#policy img {
	float: left;
}

#policy input[type=text]{
	width: 40em;
}

#policy .imgSmall{
	max-width: 2em;
	max-height: 1em;
	margin-right: 1em;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: underline;
}

a:active {
	color: white;
	text-decoration: none;
}

button {
	background-color: rgb(42, 42, 42);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	background-color: rgb(49, 49, 49);
}

button:disabled, button[disabled] {
	background-color: rgb(21, 21, 21);
	color: rgb(42, 42, 42);
	cursor: initial;
}

.result {
	background-color: rgba(255, 0, 0, .5);
	border: 1px solid rgb(255, 0, 0);
	width: 50%;
	padding: 12px;
	color: black;
	margin: 20px auto 20px auto;
	border-radius: 10px;
}

#resources {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	border-top: 2px solid rgb(21, 21, 21);
	border-bottom: 2px solid rgb(21, 21, 21);
}

#resources td, #resources th {
	background-color: transparent;
	border: transparent;
	color: white;
}

.left {
	text-align: left;
	margin-top: 4%;
	margin-bottom: 4%;
}

p.positive {
	all: initial;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: rgb(0, 255, 0);
	text-align: left;
}

p.negative {
	all: initial;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: rgb(255, 0, 0);
	text-align: left;
}

p.neutral {
	all: initial;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	text-align: left;
}

.right {
	text-align: right;
}

.resourceDropDown {
	position: relative;
	display: inline-block;
	text-align: right;
	width: 100%;
}

.resourceDropDown-span {
	position: inherit;
	display: inherit;
	text-align: inherit;
	width: inherit;
	z-index: 1;
}

.resourceDropDown-content {
	text-align: right;
	display: none;
	position: absolute;
	padding-left: 2px;
	padding-right: 2px;
	height: 100%;
	left: -100%;
	width: 200%;
	z-index: 2;
}

.resourceDropDown-span:hover + .resourceDropDown-content {
	display: block;
}

#news {
	width: 100%;
}

#news td {
	width: 50%;
}

.world {
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	background-color: rgb(7, 7, 7);
	border: 2px solid rgb(21, 21, 21);
}

.world:hover {
	background-color: rgb(14, 14, 14);
}

.alliance {
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	background-color: rgb(7, 7, 7);
	border: 2px solid rgb(21, 21, 21);
}

.alliance:hover {
	background-color: rgb(14, 14, 14);
}

.policyImage {
	width: 256px;
}

.news {
	position: fixed;
	display: none;
	left: 20%;
	top: 0;
	height: 100%;
	width: 25%;
	max-width: 500px;
	background-color: black;
	z-index: 10;
}

.resultsContainer {
	visibility: hidden;
	position: fixed;
	background-color: rgb(35, 35, 35);
	width: 85%;
	top: 3em;
	left: 15%;
	z-index: 10;
}

.results {
	margin: auto;
	width: 75%;
}

select {
	outline: none;
	width: 100%;
	background-color: rgb(21, 21, 21);
	border: 1px solid rgb(21, 21, 21);
	text-align: center;
	text-align-last: center;
	color: white;
	border-radius: 5px;
}

select:hover {
	outline: none;
	background-color: rgb(33, 33, 33);
	border: 1px solid rgb(21, 21, 21);
}

select:disabled {
	outline: none;
	width: 100%;
	background-color: rgb(7, 7, 7);
	border: 1px solid rgb(21, 21, 21);
	text-align: center;
	text-align-last: center;
	color: rgb(155, 155, 155);
}

select option {
	outline: none;
	color: white;
	background-color: rgb(33, 33, 33);
	border: 1px solid rgb(21, 21, 21);
}

.optionDesc {
	color: white;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

ul {
	list-style: none;
}

#city ul{
	padding-left: 0;
}

.cityElements {
	text-align: center;
	display: inline-block;
	border: black 3px solid;
	margin: 0;
	padding: 1em;
	background: rgb(55, 55, 55);
}

.noClose img{
	max-width: 1em;
}

img {
	max-width: 100%;
	height: auto;
}

label{
	color: white;
	font-size: 1.5em;
}

textarea{
	width: 40em;
	height: 5em;
	margin: 0.5em 0;
	padding: 0.5em 0;
	background-color: gainsboro;
	border: rgb(55, 55, 55) solid 2px;
	color: black;
}

#world path{
	fill: gray;
}

#world path:hover{
	fill: darkgray;
}

.categories{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.categories ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	margin: 0 0 1em auto;
}

.categories li {
	float: left;
}

.categories li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

.categories li a:hover {
	background-color: #111111;
}