#nation {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
}

#nation td, #nation th {
	position: relative;
	padding: 8px;
	width: 33%;
}

#nation tr:nth-child(even) {
	background-color: rgb(50, 50, 50);
	color: white;
}

#nation tr:nth-child(odd) {
	background-color: rgb(60, 60, 60);
	color: white;
}

#nation tr:hover {
	background-color: rgb(35, 35, 35);
}

#nation caption {
	padding: 8px;
	background-color: rgb(50, 50, 50);
	color: white;
}

#nation caption:hover {
	background-color: rgb(35, 35, 35);
}

#nation div.noClose{
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#nation div.noClose:hover{
	color: cornflowerblue;
}

#nation img{
	max-width: 1em;
}

.flag {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.leader {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 156px;
}

.dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
}

.dropdown-content {
	top: 100%;
	left: 0;
	float: left;
	display: none;
	position: absolute;
	background-color: black;
	padding: 5px 5px;
	margin: 1px 1px;
	z-index: 1;
	width: auto;
}

.dropdown:hover .dropdown-content {
	display: inline-block;
}