#nation {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
}

#nation td, #nation th {
	position: relative;
	padding: 8px;
	text-align: left;
}

#nation tr:nth-child(even) {
	background-color: #424242;
	border-bottom: #1b1b1b 1px solid;
	color: white;
}

#nation tr:nth-child(odd) {
	background-color: #424242;
	border-bottom: #1b1b1b 1px solid;
	color: white;
}

#nation tr:last-child{
	border: none;
}

#nation tr:hover {
	background-color: #1b1b1b;
}

#nation caption {
	padding: 8px;
	background-color: #424242;
	border-bottom: #1b1b1b 1px solid;
	color: white;
}

#nation caption:hover {
	background-color: #1b1b1b;
}

#nation div.noClose{
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#nation div.noClose:hover{
	color: cornflowerblue;
}

#nation img.small{
	max-width: 1em;
}

#nation img.medium{
	height: 1em;
	width: auto;
	max-width: 2em;
}

#nation img.large{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 5em;
	width: auto;
	max-width: 9em;
}

.flag {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.leader {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 156px;
}