.wrapper{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 0;
}

.vertical{
	position:absolute;
	bottom: 50%;
	left: calc(50% - 0.5em);
	width: 1em;
	height: 100%;
	border-left: gray solid 1em;
}

.horizontalLeft{
	position:absolute;
	top: calc(50% - 0.5em);
	left: -50%;
	width: 100%;
	height: 1em;
	border-top: gray solid 1em;
}

.horizontalRight{
	position:absolute;
	top: calc(50% - 0.5em);
	right: -50%;
	width: 100%;
	height: 1em;
	border-top: gray solid 1em;
}

.cornerBottomRight{
	position:absolute;
	right: calc(-50% - 0.5em);
	width: 100%;
	top: -50%;
	height: 100%;
	border-right: gray solid 1em;
	border-bottom: gray solid 1em;
	border-left: transparent 0;
	border-top: transparent 0;
}

.cornerBottomLeftHalf{
	position:absolute;
	left: calc(0% - 0.5em);
	width: 50%;
	top: -50%;
	height: 100%;
	border-style: solid;
	border-right: transparent 0;
	border-bottom: gray solid 1em;
	border-left: gray solid 1em;
	border-top: transparent 0;
}

.cornerBottomLeft{
	position:absolute;
	left: calc(-50% - 0.5em);
	width: 100%;
	top: -50%;
	height: 100%;
	border-style: solid;
	border-right: transparent 0;
	border-bottom: gray solid 1em;
	border-left: gray solid 1em;
	border-top: transparent 0;
}
.tech {
	position: relative;
	text-align: center;
	display: inline-block;
	border: #424242 0.25em solid;
	padding: 1em;
	border-radius: 0.1em;
	margin: 1em;
	z-index: 1;
}

.researched {
	background-color: rgb(95,183,97);
}

.researched p{
	color: black;
}

.available {
	background-color: rgb(250,189,41);
	cursor: pointer;
}

.available p {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: black;
}

.unavailable {
	background-color: #6d6d6d;
}

.unavailable p{
	color: black;
}

#tech{
	display: none;
	max-width: 38em;
	margin: auto;
	padding: 0.25em 1em;
	background-color: #424242;
}